---
import { Image } from "astro:assets";

export interface Props {
  photos: Array<any>;
  newestFirst?: boolean;
}

let { photos, newestFirst = true } = Astro.props;

if (newestFirst) {
  photos.reverse();
}

const classList = [
  "min-[2800px]:columns-8",
  "min-[2400px]:columns-7",
  "min-[2100px]:columns-6",
  "min-[1980px]:columns-5",
  "lg:columns-4",
  "md:columns-3",
  "sm:columns-2",
  "columns-1",
  "gap-4",
  "break-inside-avoid"
];
---

<div class={`w-full ${classList.join(" ")}`}>
  {
    photos?.map(async (photo: any) => {
      const picture = await photo.default;
      const fileName = picture.src.split("/").pop();
      // photoURL fix for production
      const lightboxPhotoUrl = import.meta.env.PROD
        ? `https://ojoanalogo.com${photo.default.src}`
        : `${photo.default.src}`;
      return (
        <div class="break-inside-avoid">
          <a
            class="cursor-pointer"
            data-href={lightboxPhotoUrl}
            data-fslightbox
            data-umami-event="Photo click"
            data-umami-event-photo-id={fileName}
          >
            <Image
              class="mb-4 w-full object-cover scale-100 shadow-lg hover:shadow-2xl hover:shadow-black/40 ease-in duration-300"
              src={picture}
              decoding="async"
              loading="lazy"
              alt=""
              quality={"mid"}
              width={picture.width / 2}
            />
          </a>
        </div>
      );
    })
  }
</div>
