---
import dayjs from "dayjs";
import localizedFormat from "dayjs/plugin/localizedFormat";
import Gallery from "../components/Gallery.astro";
import { SITE_TITLE } from "../config";
import BaseLayout from "./BaseLayout.astro";

export interface Props {
  title: string;
  publishDate: Date;
  socialImagePath: string;
  photos: Record<string, any>[];
  updatedDate?: Date;
  description?: string;
  tags?: string[];
}

const {
  title,
  publishDate,
  updatedDate,
  photos,
  description,
  socialImagePath,
  tags,
} = Astro.props;
dayjs.extend(localizedFormat);

const publishDateString = dayjs(publishDate).format("ll");
let updatedDateString;
if (updatedDate) {
  updatedDateString = dayjs(updatedDate).format("ll");
}

const filmPhotos = photos.filter((photo) => photo.default.src.includes("film"));
const digitalPhotos = photos.filter((photo) =>
  photo.default.src.includes("digital")
);
---

<BaseLayout
  title={`${SITE_TITLE} - ${title}`}
  description={description}
  socialImagePath={socialImagePath}
  sideBarActiveItemID="collections"
>
  <div class="pb-12 mt-5">
    <div class="text-3xl font-bold mb-1">{title}</div>
    <p class="text-sm text-gray-700">
      Publicado: <span class="text-gray-900">{publishDateString}</span>
    </p>
    {
      updatedDate && (
        <p class="text-sm text-gray-700">
          Actualizado: <span class="text-gray-900">{updatedDateString}</span>
        </p>
      )
    }
    <div class="mt-2">
      {
        (tags ?? []).map((tag) => (
          <span class="badge badge-accent badge-md text-white mr-2">{tag}</span>
        ))
      }
    </div>
    <div class="mb-4 mt-4">
      <slot />
    </div>

    {
      filmPhotos?.length > 0 && (
        <div class="mb-4">
          <h2 class="text-2xl font-bold mb-2">Film</h2>
          <Gallery photos={filmPhotos} biggerPictures={false} />
        </div>
      )
    }
    {
      digitalPhotos?.length > 0 && (
        <div class="mb-4">
          <h2 class="text-2xl font-bold mb-2">Digital</h2>
          <Gallery photos={digitalPhotos} biggerPictures={false} />
        </div>
      )
    }
    {
      ((filmPhotos?.length === 0 &&
        digitalPhotos?.length === 0 &&
        photos?.length === 0) ||
        photos.length === 0) && (
        <div class="text-center text-gray-700">
          <p class="text-5xl mb-12">🔍</p>
          <p class="text-lg">
            No hay fotos en esta colección, te invito a regresar a la{" "}
            <a href="/collections" class="font-bold text-zinc-800">
              galería
            </a>
          </p>
        </div>
      )
    }
    {
      photos.length > 0 && !filmPhotos?.length && !digitalPhotos.length && (
        <Gallery photos={photos} biggerPictures={true} />
      )
    }
  </div>
</BaseLayout>
